html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.header {
  height: 50px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: calc(100% - 50px);
}

.title {
  margin: 0;
}

.scores-container {
  order: 1;
  background: yellow;
  flex-basis: 100%;
  padding: 5px;
}

.play-container {
  order: 2;
  background: red;
  flex-basis: 100%;
  display: flex;
}

.train-container {
  order: 1;
  background: blue;
  flex-basis: 100%;
  padding-top: 125px;
}

.deck-container {
  order: 2;
  background: forestgreen;
  flex-basis: 100%;
}

.deck-button {
  background-image: url("../img/Back\ Blue\ 2.png");
  width: 103px;
  height: 138px;
}

.card-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  width: 103px;
  height: 138px;
  padding: 10px;
  margin-top: -100px;
}

.invalid-card {
  margin-left: 50px;
}

.invalid-card div {
  font-size: 4em;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  width: 175px;
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-over-container p {
  margin: 5px;
}

.score-container {
  display: flex;
  justify-content: space-between;
}

.scores-header {
  display: flex;
  justify-content: space-between;
}

#scores-list {
  list-style-type: none;
}

.score-list-header {
  font-weight: bold;
}

.hidden {
  display: none;
}

@media screen and (min-width:600px) {
  .main {
    flex-wrap: nowrap;
  }
  .scores-container {
    flex-basis: 400px;
    order: 1;
  }
  .play-container {
    flex-basis: 1;
    order: 2;
  }
  .train-container {
    flex-basis: 400px;
    order: 1;
  }
  .deck-container {
    flex-basis: 400px;
    order: 2;
  }
}